<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coding404.myweb.topic.service.TopicMapper">
  
  	<insert id="regist">
	  	insert into TOPIC(topic_enddate,
	  					  topic_id,
	  					  topic_title,
	  					  topic_comment)
	  					  
	  	values( #{topic_enddate}
	  		   ,#{topic_id}
	  		   ,#{topic_title}
	  		   ,#{topic_comment} )
  	</insert>
  	
  	<select id="getList" resultType="TopicVO">
  		select * from TOPIC
  	</select>
  	
  	<!-- 제목 검색 -->
  	<select id="searchTitle" resultType="TopicVO">
  		select * from TOPIC where topic_title like '%${topic_title}%'
  	</select>
  	
  	<!-- id 검색 -->
  	<select id="searchId" resultType="TopicVO">
  		select * from TOPIC where topic_id like '%${topic_id}%'
  	</select>
  	
  	<!-- 세부내용 -->
  	<select id="getDetail" resultType="TopicVO">
  		select * from TOPIC where topic_num = #{topic_num}
  	</select>
  	
  	<!-- 내 글 -->
  	<select id="getMyList" resultType="TopicVO">
  		select * from TOPIC where topic_id = 'admin';
  	</select>
  	
  	<update id="update">
  		update TOPIC set
  		topic_id = #{topic_id},
  		topic_title = #{topic_title},
  		topic_comment = #{topic_comment} where topic_num = #{topic_num}
  	</update>
  	
  	<delete id="delete">
  		delete from TOPIC where topic_num = #{topic_num}
  	</delete>
  	
  	
  </mapper>